{% extends "layout.html" %}

{% block content %}
<h2>Vastaus</h2>
<form action="/result" method="POST">
{% if count !=1 %}
<p>Vastausvaihtoehdot ovat: <br>
<ul>
{% for choice in choices %}
<li> {{ choice.answer }} 
{% endfor %}
</ul>
<hr>
{% endif %}

<p>Vastaus: <br>
<input type="text" name="answer"></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="quest_id" value="{{ quest_id }}"></p>
<input type="submit" value="Tarkista vastaus">
</form>
<p>
<a href="/questions/{{ quiz_id }}">Takaisin</a>
{% endblock %}