<form action="/create_quiz" method="POST">
Anna uuden tietovisan nimi:<br>
<input type="text" name="new_quiz"></p>
<p>Kysymys 1:<br>
<input type="text" name="question"></p>
<p>Kysymys 2:<br>
<input type="text" name="question"></p>
<p>Kysymys 3:<br>
<input type="text" name="question"></p>
<p>Kysymys 4:<br>
<input type="text" name="question"></p>
<p>Kysymys 5:<br>
<input type="text" name="question"></p>
<p>Kysymys 6:<br>
<input type="text" name="question"></p>
<p>Kysymys 7:<br>
<input type="text" name="question"></p>
<p>Kysymys 8:<br>
<input type="text" name="question"></p>
<p>Kysymys 9:<br>
<input type="text" name="question"></p>
<p>Kysymys 10:<br>
<input type="text" name="question"></p>
<input type="submit" value="Anna kysymyksiin oikeat vastaukset">
</form>
