<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<title>Tietovisa -sovellus</title>
<div class="header">
<h1>Tietovisa -sovellus</h1>
</div>
  <nav>
    <ul>
      <li><a href="/"><b>Etusivu</b></a></li>
      <li><a href="/quiz"><b>Tietovisat</b></a></li>
      <li><a href="/userstat"><b>Tilastot</b></a></li>
      <li><a href="/end"><b>Kirjaudu ulos</b></a></li>
    </ul>
  </nav>
<p>
{% block content %}{% endblock %}
</p>

</body>  