{% extends "layout.html" %}

{% block content %}

{% if session.user_role == 1 %}
<h2>Kysymykset</h2>
<i> {{ message }}</i>
<p>
<p>Vastaa klikkaamalla kysymystä:<br> <hr>
<ul>
    {% for question in questions %}
    <li><a href="/attend/{{ question.id }}">{{ question.question }}</a>
    {% endfor %}
    </li>
</ul>


<p>
    <a href="/quiz">Valmis</a>

{% endif %}

{% if session.user_role == 2 %}

<h2>Kysymyksien vastausten määrittäminen</h2>
<p>Anna kysymyksiin oikeat vastaukset klikkaamalla kysymystä:<br>
    <hr>
<ul>
    {% for question in questions %}
    <li><a href="/answers/{{ question.id }}">{{ question.question }}</a>
    {% endfor %}
    </li>
</ul>

<p>
    <a href="/quiz">Valmis</a>

{% endif %}
{% endblock %}