<title>Tietovisa</title>
<h1>Tietovisa</h1>

<p>Olet kirjautunut tunnuksella {{ session.user_name }}</p>

<p>
<a href="/userstat">Katso pisteesi</a>
<p></p>
<a href="/end">Lopeta</a>

<h2>Mihin tietovisaan haluat osallistua:<h2>

<ul>
{% for quiz in quizzes %}
<li><a href="/questions/{{ quiz.id }}">{{ quiz.name }}</a>
{% endfor %}
</li>


{% if session.user_role == 2 %}

<p>Olet kirjautunut roolilla: tietovisan luoja</p>
<p>
<ul>
<li> <a href="/new_quiz">Luo uusi tietovisa</a>
<li> <a href="/del_quiz">Poista tietovisa</a>
<li> <a href="/creator_stat">Katso osallistuja</a>
</ul>

{% endif %}


