{% extends "layout.html" %}

{% block content %}



{% if session.user_role == 1 %}
<h2>Tietovisaan osallistuja</h2>

<p>

<p>Mihin tietovisaan haluat osallistua:</p>

    <ul>
    {% for quiz in quizzes %}
    <li><a href="/questions/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>


{% endif %}





{% if session.user_role == 2 %}
<h2>Tietovisan luoja</h2>
<p>
<ul>
    <li> <a href="/new_quiz">Luo uusi tietovisa</a>
    <li> <a href="/change_quiz">Muokkaa tietovisaa</a>
</ul>

<p><b>POISTA: </b>Klikkaamalla nimeä voit poistaa luomasi tietovisan.</p>

    <ul>
    {% for quiz in quizzes %}
    <li><a href="/del_quiz/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>

<p><b>AKTIVOI: </b>Klikkaamalla nimeä voit aktivoida poistamasi tietovisan uudelleen.</p>
    
    <ul>
    {% for quiz in notquizzes %}
    <li><a href="/activate_quiz/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>


{% endif %}

{% endblock %}
