{% extends "layout.html" %}

{% block content %}



{% if session.user_role == 1 %}
<h2>Tietovisaan osallistuja</h2>
<p>Olet kirjautunut tunnuksella <strong>{{ session.user_name }}</strong></p>
<p>
<ul>
<li> <a href="/userstat">Katso pisteesi</a>
<li> <a href="/end">Lopeta</a>
</ul>

<p>Mihin tietovisaan haluat osallistua:</p>

    <ul>
    {% for quiz in quizzes %}
    <li><a href="/questions/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>


{% endif %}





{% if session.user_role == 2 %}
<h2>Tietovisan luoja</h2>
<p>Olet kirjautunut tunnuksella <strong>{{ session.user_name }} </strong> ja roolilla: <strong>tietovisan luoja</strong></p>
<p>
<ul>
<li> <a href="/new_quiz">Luo uusi tietovisa</a>
<li> <a href="/userstat">Katso tilastoja</a>
<li> <a href="/end">Lopeta</a>
</ul>

<p>Seuraavat tietovisat ovat aktiivisia:<p>
<p>Klikkaamalla nimeä voit poistaa tietovisan.</p>

    <ul>
    {% for quiz in quizzes %}
    <li><a href="/del_quiz/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>

<p>Seuraavat tietovisat ovat ei-aktiivisia:<p>
<p>Klikkaamalla nimeä voit aktivoida tietovisan uudelleen.</p>
    
    <ul>
    {% for quiz in notquizzes %}
    <li><a href="/activate_quiz/{{ quiz.id }}">{{ quiz.name }}</a>
    {% endfor %}
    </li>


{% endif %}

{% endblock %}
